*{ 
    margin: 0;
    padding: 0;
}
header{
    background-color:transparent;
    border: 1px solid;
    min-width: 400px;
    height: 400px;
   margin-top: 50px;
   margin-left: 40%;
   margin-right: 50%;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right:5px ;
   
    background-color:transparent;
}
.image{
    
    padding: 5px;
    width: 400px;
    height: 100px;
}
.info{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.name{
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    width: 300px;
  margin-left: 45px;
    padding: 2px;
    height: 35px;
    background-color:rgb(250, 250, 250) ;
}
.password{
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    width: 300px;
  margin-left: 45px;
    padding: 2px;
    height: 35px;
    margin-top: 5px;
 background-color: rgb(250, 250, 250);
}
.login{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 300px;
  margin-left: 45px;
    padding: 2px;
    height: 35px;
    margin-top: 10px;
   
 background-color:rgb(8, 140, 227) ;
}
button{
    border: 0;
    font-weight: 900;
    align-items: center;
    font-size:25px ;
    padding: 1px;
    background-color: transparent;
}
h4{
    font-size: medium;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.fb_logo{
    height: 25px;
    width: 25px;
}
.fb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
a{
    font-size: smaller;
    text-decoration: none;
    font-weight: 300;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main{
    display: flex;
    flex-direction: row;
    min-width:400px ;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    box-sizing: content-box;
    margin-top: 15px;
    margin-left: 40%;
   margin-right: 50%;

}